body {
    margin: 0px auto;
    height: 0px;
    background: #00000009
}

.whole {
    height: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

.container-1 {
    width: 1096px;
    height: 711px;
    margin: 0px auto;
    padding: 24px 16px;
}

.container {
    width: 352px;
    height: 530px;
    margin: 0px auto;
    padding: 25px 24px 0px;
    background-color: white;
    border-radius: 8px;
}

.link-logo {
    width: 1096px;
    height: 120px;
    margin: 0px auto;
}

.logo {
    width: 135px;
}

.heading {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    padding: 18px 16px;

}

p {
    margin: 0px;
}

label {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    color: rgb(0 0 0 / 75%);
}

input {
    width: 318px;
    height: 2px;
    padding: 14px 16px;
    border-radius: 4px;
    border-color: rgb(0 0 0 / 75%);
    border-width: 1px;
    margin-top: 5px;
}

.password {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

}
.placeholder{
    text-align:end;
    color:#0a66c2;
    font-size: 16px;
}

.para {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 18px 0px 16px;
    color: rgba(0, 0, 0, 0.6);
}

span {
    color: #0077b5;
    font-weight: 600;
}



.btn {
    width: 352px;
    height: 48px;
    padding: 0px 24px;
    border-radius: 24px;
    background-color: #0a66c2;
    border: #0a66c2;
    color: white;


}
.btn-name{
    font-weight: 600;
     font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.divider-flex {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 17px 0px 16px;
}

.divider-flex .line {
    flex: 1;
    height: 1px;
    background-color: hsl(0deg 3% 88%)
}

.divider-flex .or {
    white-space: nowrap;
    color: rgb(0 0 0 / 90%);
    font-size: 16px;
    padding: 0px 10px 5px;

}

.google {
    width: 325px;
    height: 42px;
    border-radius: 2048px;
    margin: 0px 13px 0px;
    border-color: #d6d6d6;
    color: #323130;
    letter-spacing: .25px;
    font-weight: 500;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
    box-shadow: 0px 0px 0px 1px rgba(64, 60, 67, .24);
}
.img-google{
    padding: 4px 10px 0px 0px;
}
.google-text{
    padding: 0px 0px 0px 0px;
}


.micro {
    width: 325px;
    height: 43px;
    border-radius: 2048px;
    margin: 18px 13px 0px;
    border-color: #d6d6d6;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #323130;
    letter-spacing: .25px;
    font-weight: 500;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 1px rgba(64, 60, 67, .24);
    
}
.microsoft-img{
    padding: 0px 10px 0px 0px;
}
.microsoft-text{
    padding: 0px 0px 5px 0px;
}

.signin {
    text-align: center;
    padding: 39px 0px 27px;
}

.gethelp {
    font-size: 14px;
    text-align: center;
    margin: 16px 0px 0px;
}
.last{
     background-color: white; 
}

.lists {
    width: 1128px;
    margin: 0px auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: #666;
    font-size: 12px;
    font-weight: 600;
     background-color: white;
     justify-content: flex-start;
    height: 42px;
    gap: 16px;
    padding: 8px 0px 0px 0px;
    
}
.checkbox{
    padding-top: 19px;
    padding-left: 3px;
}
.checkbox-name{
    font-size: 14px;
    padding-left: 7px;
    font-weight: 400;
    color: black;
}
.box{
    width: 20px;
    height: 20px;
    margin: 0px;
}